
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
<div>
    <b>Pessoa ID</b>
</div>
<div>
    @ViewData["PessoaId"]
</div>
<hr />
<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["Nome"]
</div>
<hr />
<div>
    <b>Tipo</b>
</div>
<div>
    @ViewData["Tipo"]
</div>
<hr />
<a class="btn btn-primary" href="~/">Voltar</a>
